<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<form action="web/action/insertajuego.php" method="POST">
<input type="text" name="nombre" id="password"/>
<input type="submit"/>
<p id="resultado"><p>
<div ng-app="myApp" ng-controller="myCtrl" ng-init="mostrar()">
<p onclick="registrar()" ng-click="mostrar()">click<p>
<ul ng-repeat="x in myWelcome">
<li>{{ x.nombre }}
</ul>
</div>
</form>
<script>
function registrar(){
        var parametros = {
                "nombre" : $("#password").val()
        };
        $.ajax({
                data:  parametros, //datos que se envian a traves de ajax
                url:   'web/action/insertajuego.php', //archivo que recibe la peticion
                type:  'post', //mtodo de envio
               /* beforeSend: function () {
                        $("#resultado").html("Procesando, espere por favor...");
                },
                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                        $("#resultado").html(response);
                }*/
        });
}

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
 
  $scope.mostrar = function(){
	$http({
    method : "GET",
    url : "web/action/listar.php"
  }).then(function mySuccess(response) {
      $scope.myWelcome = response.data.lstJuegos;
    }, function myError(response) {
      $scope.myWelcome = response.statusText;
  });
  }
  $scope.registrar = function(){
		var parametros = {
                "nombre" : $scope.pass
        };
		$http({
			method: 'POST',
			url: 'web/action/insertajuego.php', 
			data: parametros
			}).then(function (response) {
			$scope.mostrar();
		}, function (error) {
		});
		
	}

});

</script>

</html>